.App {
  text-align: center;
  padding: 2em 0;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.navbar a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
  font-size: 1.3em;
}

.navbar a:hover {
  font-size: 1.4em;
}